@model StudentManagementSystem.Models.ViewModels.AttendanceViewModel
<div class="container w-50 mx-auto my-3 p-5 border-start border-end border-bottom rounded-start rounded-end shadow-sm" style="border-top: 12px solid #699BF7">
    <div class="d-flex justify-content-center align-items-center mb-4">
        <div class="me-3">
            <i class="fa-solid fa-book-open fa-2xl" style="color: #699BF7"></i>
        </div>
        <div class="text-center">
            <span class="mate-sc text-uppercase fw-bold">Leadership</span>
            <h1 class="h5 brand-space">Excellence</h1>
        </div>
    </div>

    <form asp-controller="Attendance" asp-action="Entry" method="post" enctype="multipart/form-data">
        <input asp-for="Id" value="@ViewBag.Id" hidden />
        <div class="mb-3">
            <label asp-for="StudentId" class="form-label">Student</label>
            <select asp-for="StudentId" class="form-select">
                <option value="" selected>---choose option---</option>
                @foreach (var student in ViewBag.Student)
                {
                    <option value="@student.Id">@student.Name</option>
                }
            </select>
            <span asp-validation-for="StudentId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AttendanceDate" class="form-label">AttendanceDate</label>
            <input asp-for="AttendanceDate" class="form-control" placeholder="entr attendance date..." />
            <span asp-validation-for="AttendanceDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="InTime" class="form-label">InTime</label>
            <input asp-for="InTime" class="form-control" placeholder="enter in time..." />
            <span asp-validation-for="InTime" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="OutTime" class="form-label">OutTime</label>
            <input asp-for="OutTime" class="form-control" placeholder="enter out time..." />
            <span asp-validation-for="OutTime" class="text-danger"></span>
        </div>
        <label for="isLeave" class="form-label">IsLeave</label>
        <div class="mb-3">
            <div class="d-flex">

                <div class="me-3">
                    <input type="radio" asp-for="IsLeave" value="Yes" id="yes" class="form-check-input" />
                    <label for="yes" class="form-label-input">Yes</label>
                </div>
                <div>
                    <input type="radio" asp-for="IsLeave" value="No" id="no" class="form-check-input"/>
                    <label for="no" class="form-label-input">No</label>
                </div>
            </div>
            <span asp-validation-for="IsLeave" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <button class="btn btn-primary text-white" style="border-radius: 10px 0 10px 0;">Submit</button>
            <button class="btn btn-secondary text-white" style="border-radius: 10px 0 10px 0;" type="reset">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}