@model IList<StudentBatchViewModel>
<div class="container">

    @if (User.IsInRole("Admin") || User.Identity.IsAuthenticated)
    {
        <h1 class="h4 mt-3">Students: </h1>
        <div class="row my-3">
            @foreach (var detail in Model)
            {
                if (detail == null)
                {
                    <p class="alert alert-info" role="alert">No Chapter In Here!</p>
                }
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h5"><span class="fw-bold">Student: </span> @detail.StudentId</h1>
                            <p class="card-text"><span class="fw-bold">Batch: </span> @detail.BatchId</p>

                        </div>
                        <div class="card-footer">
                            <a asp-controller="Batch" asp-action="StudentDetail" asp-route-Id="@detail.Id" class="btn btn-primary float-end">Details >></a>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
</div>