.brand-space {
    color: #0A46B5;
    letter-spacing: 3px;
}

.mate-sc {
    font-family: "Mate SC", serif;
    font-weight: 700;
    font-style: normal;
    color: #000;
    font-size: 1.0rem;
    margin: 0;
    padding: 0;
}





.box-item_add {
    background: linear-gradient(45deg, rgba(147,206,21,.3), rgba(107,152,13,1));
}

.box-item_attend {
    background: linear-gradient(45deg, rgba(176,85,140,.3), rgba(243,17,112,1));
}

.box-item_class {
    background: linear-gradient(45deg,rgba(24,235,20,.3), rgba(62,180,20,1));
}
.box-item_timeable {
    background: linear-gradient(45deg, rgba(235,123,20, .3), rgba(180,30,20,1));
}
.box-item_exam {
    background: linear-gradient(45deg, rgba(23,44,236,.3), rgba(90,17,243,1));
}
.box-item_examresult {
    background: linear-gradient(45deg, rgba(12,17,68,.3), rgba(1,14,34,1));
}
@media(min-width: 1200px){
    .box {
        height: 185px;
        width: 235px;
        background-color: #fafafa;
    }

    .box-item {
        height: 87px;
        width: 101px;
    }

    .box-item_icon {
        margin-top: 28%;
        transform: translateX(30px);
    }
}

@media(min-width: 992px) {
    .box {
        height: 185px;
        width: 235px;
        background-color: #fafafa;
    }

    .box-item {
        height: 87px;
        width: 101px;
    }

    .box-item_icon {
        margin-top: 40%;
        transform: translateX(30px);
    }
}

.box {
    
    transition: .3s ease-in-out;
}

.box:hover {
    
    transform: scale(1.1);
}

@media(min-width: 768px) {
    .box {
        height: 145px;
        width: 200px;
        background-color: #fafafa;
        margin-bottom: 20px;
    }

    .box-item {
        height: 57px;
        width: 80px;
    }

    .box-item_icon {
         margin-top: 36%;
         transform: translateX(27px);
    }
}

@media(min-width: 0){
    .box {
        height: 145px;
        width: 200px;
        background-color: #fafafa;
        margin-bottom: 20px;
    }

    .box-item {
        height: 57px;
        width: 80px;
    }

    .box-item_icon {
        margin-top: 36%;
        transform: translateX(27px);
    }
}