@model AssignmentViewModel

@if(Model == null)
{
    <h1 class="h3">No Assignments In Here!</h1>
}
<div class="container">
    <h1 class="h3">Assignments:</h1>
    <div class="row ">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><span class="fw-bold">Name: </span>@Model.Name</p>
                    <p class="card-text"><span class="fw-bold">Description: </span>@Model.Description</p>
                    <p class="card-text"><span class="fw-bold">Course: </span>@Model.CourseId</p>
                    <p class="card-text"><span class="fw-bold">Batch: </span>@Model.BatchId</p>
                    <p class="card-text"><span class="fw-bold">Assignment: </span>
                        <a href="/assignment/DownloadFile?filePath=@Model.URL">
                            <i class="fa-solid fa-download fa-xl"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>