<div class="container">
    <div class="d-lg-flex d-md-inline g-3 justify-content-evenly mt-5">
        <a href="/video/entry" class="link-dark link-underline link-underline-opacity-0">
            <div class="box rounded pt-5 shadow border">
                <div class="box-item box-item_new rounded  mx-auto">
                    <i class="fa-solid fa-clapperboard fa-lg box-item_icon" style="color: #fafafa;"></i>
                </div>
            </div>
        <h1 class="h5 text-center">Add New Video</h1>
        </a>
        <a href="" class="link-dark link-underline link-underline-opacity-0">
            <div class="box rounded pt-5 shadow border">
                <div class="box-item box-item_new rounded  mx-auto">
                    <i class="fa-solid fa-book fa-lg box-item_icon ms-1" style="color: #fafafa;"></i>
                </div>
            </div>
            <h1 class="h5 text-center">Add New Book</h1>
        </a>
        <a href="" class="link-dark link-underline link-underline-opacity-0">
            <div class="box rounded pt-5 shadow border">
                <div class="box-item box-item_class rounded  mx-auto">
                    <i class="fa-solid fa-person-circle-question fa-lg box-item_icon" style="color: #fafafa;"></i>
                </div>
            </div>
            <h1 class="h5 text-center">Add New Exam</h1>
        </a>
    </div>

    <div class="d-lg-flex d-md-inline g-3 justify-content-evenly mt-5">
        <a href="" class="link-dark link-underline link-underline-opacity-0">
            <div class="box rounded pt-5 shadow border">
                <div class="box-item box-item_new rounded  mx-auto">
                    <i class="fa-solid fa-users-line fa-lg box-item_icon" style="color: #fafafa;"></i>
                </div>
            </div>
            <h1 class="h5 text-center">Add New Attendance</h1>
        </a>
        <a href="" class="link-dark link-underline link-underline-opacity-0">
            <div class="box rounded pt-5 shadow border">
                <div class="box-item box-item_new rounded  mx-auto">
                    <i class="fa-solid fa-square-poll-horizontal fa-lg box-item_icon ms-1" style="color: #fafafa;"></i>
                </div>
            </div>
            <h1 class="h5 text-center">Add New Exam Result</h1>
        </a>
        
    </div>
</div>