<div class="container w-50 mx-auto my-3 p-5 border-start border-end border-bottom rounded-start rounded-end shadow-sm" style="border-top: 12px solid #699BF7">
    <div class="d-flex justify-content-center align-items-center mb-4">
        <div class="me-3">
            <i class="fa-solid fa-book-open fa-2xl" style="color: #699BF7"></i>
        </div>
        <div class="text-center">
            <span class="mate-sc text-uppercase fw-bold">Leadership</span>
            <h1 class="h5 brand-space">Excellence</h1>
        </div>
    </div>
    
    <form action="/video/entry" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="Name" id="name" class="form-control" placeholder="video name..." required />
        </div>    
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" name="Description" id="description" class="form-control" placeholder="video description..." required />
        </div>
        <div class="mb-3">
            <label for="url" class="form-label">URL</label>
            <input type="file" name="URL" id="url" class="form-control" placeholder="video url..." required />
        </div>
        <div class="mb-3">
            <label for="courseinfo" class="form-label">Course</label>
            <select name="CourseId" id="courseinfo" class="form-select">
                <option selected>---choose course---</option>
                <option>Course One</option>
                <option>Course Two</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="batchinfo" class="form-label">Batch</label>
            <select name="BatchId" id="batchinfo" class="form-select">
                <option selected>---choose course---</option>
                <option>Batch One</option>
                <option>Batch Two</option>
            </select>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary text-white" style="border-radius: 10px 0 10px 0;">Submit</button>
            <button class="btn btn-secondary text-white" style="border-radius: 10px 0 10px 0;" type="reset">Cancel</button>
        </div>
    </form>
</div>