@model IList<ExamViewModel>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Exam</li>
        </ol>
    </nav>
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="h4 mt-3">Exams:</h1>
        <div class="row">
            @foreach (var detail in Model)
            {
                <div class="col-lg-5 mb-5">
                    <div class="card shadow">
                        <div class="card-body">
                            <h1 class="h5"><span class="fw-bold">Exam: </span> @detail.Name</h1>
                            <p class="card-text"><span class="fw-bold">Course: </span> @detail.CourseId</p>
                            <p class="card-text"><span class="fw-bold">Mark: </span> @detail.ExamDate.ToString("dd-MM-yyyy")</p>
                        </div>

                    </div>
                </div>
            }

        </div>
    }
</div>