@model IList<CourseViewModel>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Course</li>
        </ol>
    </nav>
    @if (User.IsInRole("Admin"))
    {
        <h1 class="h4 mt-3">Courses:</h1>
        <div class="row">
            @foreach (var detail in Model)
            {
                <div class="col-lg-6 my-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <h1 class="h5"><span class="fw-bold">Course: </span> @detail.Name</h1>
                            <p class="card-text"><span class="fw-bold">Description: </span> @detail.Description</p>
                            
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="card-footer">
                                <a asp-controller="Batch" asp-action="AdminDetail" asp-route-id="@detail.Id" class="btn btn-primary float-end">Details >></a>
                            </div>
                        }
                    </div>
                </div>
            }

        </div>
    }
</div>