@model StudentManagementSystem.Models.ViewModels.CourseViewModel
<div class="container w-50 mx-auto mt-5 p-5 border-start border-end border-bottom rounded-start rounded-end shadow-sm" style="border-top: 12px solid #699BF7">
    <div class="d-flex justify-content-center align-items-center mb-4">
        <div class="me-3">
            <i class="fa-solid fa-book-open fa-2xl" style="color: #699BF7"></i>
        </div>
        <div class="text-center">
            <span class="mate-sc text-uppercase fw-bold">Leadership</span>
            <h1 class="h5 brand-space">Excellence</h1>
        </div>
    </div>
    <h1 class="h4 mb-3 text-center">Course Entry Form</h1>
    <form asp-controller="Course" asp-action="Entry" method="post" enctype="multipart/form-data">
        <input asp-for="Id" value="@ViewBag.Id" hidden />
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Enter Name..." />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control" placeholder="Enter Description..." />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="OpeningDate" class="form-label">Opening Date</label>
            <input asp-for="OpeningDate" class="form-control" placeholder="Enter Opening Date..."/>
            <span asp-validation-for="OpeningDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DurationInHour" class="form-label">Duration In Hour</label>
            <input asp-for="DurationInHour" class="form-control" placeholder="Enter Duration In Hour..." />
            <span asp-validation-for="DurationInHour" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DurationInMonth" class="form-label">Duration In Month</label>
            <input asp-for="DurationInMonth" class="form-control" placeholder="Enter Duration In Month..." />
            <span asp-validation-for="DurationInMonth" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary text-white" style="border-radius: 10px 0 10px 0;">Submit</button>
            <button class="btn btn-secondary text-white" style="border-radius: 10px 0 10px 0;" type="reset">Cancel</button>
        </div>
    </form>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}