@if (TempData["info"] != null)
{
    <div class="alert alert-info">@TempData["info"]</div>
}
<div class="w-75 mx-auto mt-5 p-5 border shadow">
    <div class="d-flex justify-content-center align-items-center mb-4">
        <div class="me-3">
            <i class="fa-solid fa-book-open fa-2xl" style="color: #699BF7"></i>
        </div>
        <div class="text-center">
            <span class="mate-sc text-uppercase fw-bold">Leadership</span>
            <h1 class="h5 brand-space">Excellence</h1>
        </div>
    </div>

    <form action="/AttendanceReport/ReportByAttendanceFromCodeToCode" method="get">
        <div class="mb-3">
            <label class="form-label" for="fromCode">FromCode</label>
            <input type="text" name="fromCode" id="fromCode" class="form-control" required placeholder="enter form code..." />
        </div>
        <div class="mb-3">
            <label class="form-label" for="fromCode">ToCode</label>
            <input type="text" name="toCode" id="fromCode" class="form-control" required placeholder="enter to code..." />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Query</button>
            <button class="btn btn-secondary" type="reset">Cancel</button>
        </div>
    </form>
</div>