@model StudentManagementSystem.Models.ViewModels.ExamResultViewModel
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Entry</li>
    </ol>
</nav>
<div class="container w-50 mx-auto mt-5 p-5 border-start border-end border-bottom rounded-start rounded-end shadow-sm" style="border-top: 12px solid #699BF7">
    <div class="d-flex justify-content-center align-items-center mb-4">
        <div class="me-3">
            <i class="fa-solid fa-book-open fa-2xl" style="color: #699BF7"></i>
        </div>
        <div class="text-center">
            <span class="mate-sc text-uppercase fw-bold">Leadership</span>
            <h1 class="h5 brand-space">Excellence</h1>
        </div>
    </div>
    <h1 class="h4 mb-3 text-center">Exam Result Form</h1>
    <form asp-controller="ExamResult" asp-action="Entry" method="post" enctype="multipart/form-data">
        <input asp-for="Id" value="@ViewBag.Id" hidden />
        <div class="mb-3">
            <label asp-for="StudentId" class="form-label">Student</label>
            <select asp-for="StudentId" class="form-select">
                <option value="" selected>---choose option---</option>
                @foreach (var student in ViewBag.Student)
                {
                    <option value="@student.Id">@student.Name</option>
                }
            </select>
            <span asp-validation-for="StudentId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Mark" class="form-label">Mark</label>
            <input type="number" asp-for="Mark" class="form-control" placeholder="Enter mark..." />
            <span asp-validation-for="Mark" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary text-white" style="border-radius: 10px 0 10px 0;">Submit</button>
            <a href="/examresult/cancle" class="btn btn-danger" style="border-radius: 10px 0 10px 0;">
                Cancel
            </a>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}